<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SROP.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SROP.Business.Properties.Settings>
            <setting name="SROP_Business_wsMTD_ws_MTD" serializeAs="String">
                <value>http://aplicaciones007.jne.gob.pe/ws_rop/ws_MTD.asmx</value>
            </setting>
        </SROP.Business.Properties.Settings>
    </applicationSettings>
</configuration>